.nota{
    background-color: chartreuse;
    width: 90%;
    margin: auto;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    border-radius: 0.5em;
    border: 1px solid black;
    margin-top: 5px;
}